/*animate font colors*/


/*clock*/

.timer-header {
    animation: 30s infinite alternate toggleColors;
}


/*main section title*/

main h2 {
    animation: 30s infinite reverse toggleColors;
}

@keyframes toggleColors {
    0% {
        color: rgba(255, 0, 0, 0.4);
    }
    33% {
        color: rgba(0, 255, 0, 0.8);
    }
    66 {
        color: rgba(0, 0, 255, 0.4);
    }
    100% {
        color: rgba(0, 0, 0, 0.4);
    }
}
