/*styles for about.html*/


/*styles for cv.html*/

.main-cv ul {
    list-style: none;
    text-align: center;
}

.main-cv li {
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
}


/*styles for projects.html*/

.main-projects ul {
    list-style: none;
    text-align: center;
}

.main-projects li {
    margin-top: 2rem;
}

.main-projects a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    padding: .5rem;
}

.main-projects a:hover {
    background-color: rgba(0, 0, 255, 0.2);
    border-radius: .5rem;
}


/*styles for contact.html*/

.main-contact h2 {
    margin-top: 1rem;
}

.main-contact .contact-form {
    text-align: center;
}

.main-contact .contact-form input {
    display: block;
    margin: 1rem auto 1rem auto;
    border: none;
    border-radius: .4rem;
    padding: .5rem;
}

.main-contact .contact-form input:last-of-type {
    width: 80%;
}

.main-contact button {
    font-size: 2rem;
    font-style: italic;
    letter-spacing: .1rem;
    padding: .5rem;
    border: none;
    border-radius: .4rem;
    background-color: rgba(0, 0, 255, 0.2);
    box-shadow: -.2rem -.2rem rgba(0, 0, 0, 0.08);
    cursor: pointer;
}
